.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  font-size: var(--fs-body-s);
  margin-top: 4em;
}

.error-container h2 {
  font-size: var(--fs-heading-s);
  font-weight: var(--fw-bold);
}

.error-container p {
  color: var(--clr-primary-400);
}

.emoji {
  font-size: 4em;
}

@media screen and (min-width: 48em) {
  .error-container {
    font-size: var(--fs-body-m);
  }

  .error-container h2 {
    font-size: var(--fs-heading-m);
  }

  .emoji {
    font-size: 5em;
  }
}
