.search-bar,
.search-bar button {
  display: flex;
}

.search-bar,
.search-bar input {
  background-color: var(--clr-primary-200);
}

.search-bar {
  justify-content: space-between;
  align-items: center;
  min-height: 3em;
  width: 100%;
  border-radius: 1em;
  padding: 0 1em;
  gap: 0.5em;
}

.search-bar input {
  width: 100%;
  border: none;
  font-weight: var(--fw-bold);
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  align-items: center;
  border: none;
  background-color: inherit;
}

.dark {
  background-color: var(--clr-primary-600);
}

.light {
  background-color: var(--clr-primary-200);
}
